@model DataLayer.User
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row alert alert-success">
        <h4>Dear @Model.username welcome to my website :)</h4>
        <p>Hope you enjoy your time here \(^o^)/</p>
        <p>You can login now.</p>
    </div>
