body {
    margin: 0;
    width: 100%;
    background-color:  dimgray;
    overflow-y: scroll;
    overflow-x: scroll;
}
.samerow {
    display: inline-block;
}

.ltr {
    direction: ltr
}

.rtl {
    direction: rtl
}
/*song lyric*/
.note {
    background: rgba(128, 128, 128, 0.1);
}
/*song share*/
.sharelink {
    color: darksalmon;
    background: rgba(128, 128, 128, 0.1);
    margin: 2px;
    width: 100%;
}